.version.__________150_ /* version checker */
{
	color: #0000EE;
	background-color: #FF65F5;
}

.html
{
	background: #FFFFFF url("../images/%d1%80%d0%b0%d0%b7%d0%bc%d1%8b%d1%82%d0%be%d0%b5.jpg") repeat left top;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu12611
{
	width: 0.01px;
	padding-bottom: 90px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u12611
{
	z-index: 5;
	height: 90px;
}

#u12611-bw
{
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 5;
	top: 0px;
}

#u12615-4
{
	z-index: 16;
	top: 9px;
	left: 682px;
}

#pu12610-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -100px;
}

#u12610-3
{
	z-index: 2;
	width: 478px;
	min-height: 30px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 671px;
}

#u12614
{
	z-index: 7;
	height: 17px;
	width: 81px;
	top: 62px;
	left: 748px;
}

#u12607
{
	z-index: 10;
	top: 62px;
	left: 828px;
}

#u12607_states
{
	height: 17px;
	width: 81px;
}

#u12608
{
	z-index: 13;
	top: 4px;
	left: -18px;
}

#u12608_states
{
	height: 77px;
	width: 232px;
}

#u12613,#u12613-bw
{
	z-index: 20;
	height: 1912px;
}

#u12609
{
	z-index: 21;
	width: 716px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 230px;
}

#u12609_position_content
{
	padding-bottom: 115px;
}

#u12612-4
{
	z-index: 22;
	width: 25px;
	min-height: 24px;
	margin-left: 691px;
}

#pu5904-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 683px;
}

#u5904-4
{
	z-index: 26;
	width: 540px;
	min-height: 29px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
}

#u5903-4
{
	z-index: 30;
	width: 101px;
	min-height: 28px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 569px;
}

#u5936-3
{
	z-index: 69;
	width: 668px;
	min-height: 108px;
	background-color: transparent;
	margin-left: 27px;
	margin-top: 5px;
	position: relative;
}

#slideshowu5910
{
	z-index: 34;
	width: 0.01px;
	height: 670px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 255px;
}

#u5928
{
	position: absolute;
	width: 516px;
	height: 662px;
	background-color: transparent;
	top: 4px;
}

#u5928popup
{
	z-index: 35;
}

#u5933
{
	z-index: 36;
	width: 516px;
	height: 662px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10192
{
	z-index: 38;
	width: 516px;
	height: 662px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10201
{
	z-index: 40;
	width: 516px;
	height: 662px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5933_clip,#u10192_clip,#u10201_clip
{
	overflow: hidden;
	width: 516px;
	height: 662px;
}

#u5933_img,#u10192_img,#u10201_img
{
	margin-left: -3px;
	margin-right: -3px;
}

#u5911
{
	position: absolute;
	width: 149px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	left: 521px;
}

#u5911popup
{
	z-index: 42;
}

#u5912
{
	z-index: 43;
	width: 140px;
	height: 214px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 4px;
}

#u5912.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 140px;
	height: 214px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u10195
{
	z-index: 45;
	width: 140px;
	height: 214px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 228px;
	left: 4px;
}

#u10195.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 140px;
	height: 214px;
	min-height: 0px;
	margin: 228px -10000px 0px 0px;
}

#u10204
{
	z-index: 47;
	width: 140px;
	height: 214px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 452px;
	left: 4px;
}

#u10204.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 140px;
	height: 214px;
	min-height: 0px;
	margin: 452px -10000px 0px 0px;
}

#u5912_clip,#u10195_clip,#u10204_clip
{
	overflow: hidden;
	width: 140px;
	height: 214px;
}

#u5912_img,#u10195_img,#u10204_img
{
	margin-left: -14px;
	margin-right: -15px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u5935-20
{
	z-index: 49;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 256px;
}

#u5905
{
	z-index: 72;
	width: 110px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 675px;
	left: 651px;
}

#u5909
{
	z-index: 73;
	width: 110px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/%d1%81%d0%be%d1%86.png") no-repeat left top;
	background-size: contain;
}

#u5906
{
	z-index: 74;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
}

#u5907
{
	z-index: 75;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#u5908
{
	z-index: 76;
	width: 35px;
	height: 35px;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

.ie #u5906,.ie #u5907,.ie #u5908
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

