#u12560:active
{
	background: url("../images/u12560-m.png") no-repeat 0px 0px;
}

#u12553:active #u12553_states
{
	background: url("../images/u12553_states-m.png") no-repeat 0px 0px;
}

#u12557
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12561-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12556-3
{
	background-color: transparent;
	position: relative;
}

#u12560
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12560.png") no-repeat 0px 0px;
}

#u12553_states
{
	vertical-align: top;
	background: url("../images/u12553_states.png") no-repeat 0px 0px;
}

#u12553,#u12554
{
	position: fixed;
}

#u12554_states
{
	vertical-align: top;
	background: url("../images/u12554_states.png") no-repeat 0px 1px;
}

#u12554:hover #u12554_states
{
	background: url("../images/u12554_states-r.png") no-repeat 0px 1px;
}

#u12554:active #u12554_states
{
	background: url("../images/u12554_states-m.png") no-repeat 0px 0px;
}

#u12559
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12555
{
	background-color: #FFFFFF;
	position: relative;
}

#u12558-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

