#u12812:active
{
	background: url("../images/u12812-m.png") no-repeat 0px 0px;
}

#u12805:active #u12805_states
{
	background: url("../images/u12805_states-m.png") no-repeat 0px 0px;
}

#u12809
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12813-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12808-3
{
	background-color: transparent;
	position: relative;
}

#u12812
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12812.png") no-repeat 0px 0px;
}

#u12805_states
{
	vertical-align: top;
	background: url("../images/u12805_states.png") no-repeat 0px 0px;
}

#u12805,#u12806
{
	position: fixed;
}

#u12806_states
{
	vertical-align: top;
	background: url("../images/u12806_states.png") no-repeat 0px 1px;
}

#u12806:hover #u12806_states
{
	background: url("../images/u12806_states-r.png") no-repeat 0px 1px;
}

#u12806:active #u12806_states
{
	background: url("../images/u12806_states-m.png") no-repeat 0px 0px;
}

#u12811
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12807
{
	background-color: #FFFFFF;
	position: relative;
}

#u12810-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

