#u12524:active
{
	background: url("../images/u12524-m.png") no-repeat 0px 0px;
}

#u12517:active #u12517_states
{
	background: url("../images/u12517_states-m.png") no-repeat 0px 0px;
}

#u12521
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12525-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12520-3
{
	background-color: transparent;
	position: relative;
}

#u12524
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12524.png") no-repeat 0px 0px;
}

#u12517_states
{
	vertical-align: top;
	background: url("../images/u12517_states.png") no-repeat 0px 0px;
}

#u12517,#u12518
{
	position: fixed;
}

#u12518_states
{
	vertical-align: top;
	background: url("../images/u12518_states.png") no-repeat 0px 1px;
}

#u12518:hover #u12518_states
{
	background: url("../images/u12518_states-r.png") no-repeat 0px 1px;
}

#u12518:active #u12518_states
{
	background: url("../images/u12518_states-m.png") no-repeat 0px 0px;
}

#u12523
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12519
{
	background-color: #FFFFFF;
	position: relative;
}

#u12522-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

