#u12794:active
{
	background: url("../images/u12794-m.png") no-repeat 0px 0px;
}

#u12787:active #u12787_states
{
	background: url("../images/u12787_states-m.png") no-repeat 0px 0px;
}

#u12791
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12795-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12790-3
{
	background-color: transparent;
	position: relative;
}

#u12794
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12794.png") no-repeat 0px 0px;
}

#u12787_states
{
	vertical-align: top;
	background: url("../images/u12787_states.png") no-repeat 0px 0px;
}

#u12787,#u12788
{
	position: fixed;
}

#u12788_states
{
	vertical-align: top;
	background: url("../images/u12788_states.png") no-repeat 0px 1px;
}

#u12788:hover #u12788_states
{
	background: url("../images/u12788_states-r.png") no-repeat 0px 1px;
}

#u12788:active #u12788_states
{
	background: url("../images/u12788_states-m.png") no-repeat 0px 0px;
}

#u12793
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12789
{
	background-color: #FFFFFF;
	position: relative;
}

#u12792-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

