#u12704:active
{
	background: url("../images/u12704-m.png") no-repeat 0px 0px;
}

#u12697:active #u12697_states
{
	background: url("../images/u12697_states-m.png") no-repeat 0px 0px;
}

#u12701
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12705-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12700-3
{
	background-color: transparent;
	position: relative;
}

#u12704
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12704.png") no-repeat 0px 0px;
}

#u12697_states
{
	vertical-align: top;
	background: url("../images/u12697_states.png") no-repeat 0px 0px;
}

#u12697,#u12698
{
	position: fixed;
}

#u12698_states
{
	vertical-align: top;
	background: url("../images/u12698_states.png") no-repeat 0px 1px;
}

#u12698:hover #u12698_states
{
	background: url("../images/u12698_states-r.png") no-repeat 0px 1px;
}

#u12698:active #u12698_states
{
	background: url("../images/u12698_states-m.png") no-repeat 0px 0px;
}

#u12703
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12699
{
	background-color: #FFFFFF;
	position: relative;
}

#u12702-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

