#u12668:active
{
	background: url("../images/u12668-m.png") no-repeat 0px 0px;
}

#u12661:active #u12661_states
{
	background: url("../images/u12661_states-m.png") no-repeat 0px 0px;
}

#u12665
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12669-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12664-3
{
	background-color: transparent;
	position: relative;
}

#u12668
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12668.png") no-repeat 0px 0px;
}

#u12661_states
{
	vertical-align: top;
	background: url("../images/u12661_states.png") no-repeat 0px 0px;
}

#u12661,#u12662
{
	position: fixed;
}

#u12662_states
{
	vertical-align: top;
	background: url("../images/u12662_states.png") no-repeat 0px 1px;
}

#u12662:hover #u12662_states
{
	background: url("../images/u12662_states-r.png") no-repeat 0px 1px;
}

#u12662:active #u12662_states
{
	background: url("../images/u12662_states-m.png") no-repeat 0px 0px;
}

#u12667
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12663
{
	background-color: #FFFFFF;
	position: relative;
}

#u12666-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

