#u12758:active
{
	background: url("../images/u12758-m.png") no-repeat 0px 0px;
}

#u12751:active #u12751_states
{
	background: url("../images/u12751_states-m.png") no-repeat 0px 0px;
}

#u12755
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12759-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12754-3
{
	background-color: transparent;
	position: relative;
}

#u12758
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12758.png") no-repeat 0px 0px;
}

#u12751_states
{
	vertical-align: top;
	background: url("../images/u12751_states.png") no-repeat 0px 0px;
}

#u12751,#u12752
{
	position: fixed;
}

#u12752_states
{
	vertical-align: top;
	background: url("../images/u12752_states.png") no-repeat 0px 1px;
}

#u12752:hover #u12752_states
{
	background: url("../images/u12752_states-r.png") no-repeat 0px 1px;
}

#u12752:active #u12752_states
{
	background: url("../images/u12752_states-m.png") no-repeat 0px 0px;
}

#u12757
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12753
{
	background-color: #FFFFFF;
	position: relative;
}

#u12756-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

