#u12470:active
{
	background: url("../images/u12470-m.png") no-repeat 0px 0px;
}

#u12463:active #u12463_states
{
	background: url("../images/u12463_states-m.png") no-repeat 0px 0px;
}

#u12467
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12471-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12466-3
{
	background-color: transparent;
	position: relative;
}

#u12470
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12470.png") no-repeat 0px 0px;
}

#u12463_states
{
	vertical-align: top;
	background: url("../images/u12463_states.png") no-repeat 0px 0px;
}

#u12463,#u12464
{
	position: fixed;
}

#u12464_states
{
	vertical-align: top;
	background: url("../images/u12464_states.png") no-repeat 0px 1px;
}

#u12464:hover #u12464_states
{
	background: url("../images/u12464_states-r.png") no-repeat 0px 1px;
}

#u12464:active #u12464_states
{
	background: url("../images/u12464_states-m.png") no-repeat 0px 0px;
}

#u12469
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12465
{
	background-color: #FFFFFF;
	position: relative;
}

#u12468-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

