#u12434:active
{
	background: url("../images/u12434-m.png") no-repeat 0px 0px;
}

#u12427:active #u12427_states
{
	background: url("../images/u12427_states-m.png") no-repeat 0px 0px;
}

#u12431
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12435-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12430-3
{
	background-color: transparent;
	position: relative;
}

#u12434
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12434.png") no-repeat 0px 0px;
}

#u12427_states
{
	vertical-align: top;
	background: url("../images/u12427_states.png") no-repeat 0px 0px;
}

#u12427,#u12428
{
	position: fixed;
}

#u12428_states
{
	vertical-align: top;
	background: url("../images/u12428_states.png") no-repeat 0px 1px;
}

#u12428:hover #u12428_states
{
	background: url("../images/u12428_states-r.png") no-repeat 0px 1px;
}

#u12428:active #u12428_states
{
	background: url("../images/u12428_states-m.png") no-repeat 0px 0px;
}

#u12433
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12429
{
	background-color: #FFFFFF;
	position: relative;
}

#u12432-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

