#u12452:active
{
	background: url("../images/u12452-m.png") no-repeat 0px 0px;
}

#u12445:active #u12445_states
{
	background: url("../images/u12445_states-m.png") no-repeat 0px 0px;
}

#u12449
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12453-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12448-3
{
	background-color: transparent;
	position: relative;
}

#u12452
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12452.png") no-repeat 0px 0px;
}

#u12445_states
{
	vertical-align: top;
	background: url("../images/u12445_states.png") no-repeat 0px 0px;
}

#u12445,#u12446
{
	position: fixed;
}

#u12446_states
{
	vertical-align: top;
	background: url("../images/u12446_states.png") no-repeat 0px 1px;
}

#u12446:hover #u12446_states
{
	background: url("../images/u12446_states-r.png") no-repeat 0px 1px;
}

#u12446:active #u12446_states
{
	background: url("../images/u12446_states-m.png") no-repeat 0px 0px;
}

#u12451
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12447
{
	background-color: #FFFFFF;
	position: relative;
}

#u12450-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

