#u12416:active
{
	background: url("../images/u12416-m.png") no-repeat 0px 0px;
}

#u12409:active #u12409_states
{
	background: url("../images/u12409_states-m.png") no-repeat 0px 0px;
}

#u12413
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12417-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12412-3
{
	background-color: transparent;
	position: relative;
}

#u12416
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12416.png") no-repeat 0px 0px;
}

#u12409_states
{
	vertical-align: top;
	background: url("../images/u12409_states.png") no-repeat 0px 0px;
}

#u12409,#u12410
{
	position: fixed;
}

#u12410_states
{
	vertical-align: top;
	background: url("../images/u12410_states.png") no-repeat 0px 1px;
}

#u12410:hover #u12410_states
{
	background: url("../images/u12410_states-r.png") no-repeat 0px 1px;
}

#u12410:active #u12410_states
{
	background: url("../images/u12410_states-m.png") no-repeat 0px 0px;
}

#u12415
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12411
{
	background-color: #FFFFFF;
	position: relative;
}

#u12414-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

