#u12578:active
{
	background: url("../images/u12578-m.png") no-repeat 0px 0px;
}

#u12571:active #u12571_states
{
	background: url("../images/u12571_states-m.png") no-repeat 0px 0px;
}

#u12575
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12579-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12574-3
{
	background-color: transparent;
	position: relative;
}

#u12578
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12578.png") no-repeat 0px 0px;
}

#u12571_states
{
	vertical-align: top;
	background: url("../images/u12571_states.png") no-repeat 0px 0px;
}

#u12571,#u12572
{
	position: fixed;
}

#u12572_states
{
	vertical-align: top;
	background: url("../images/u12572_states.png") no-repeat 0px 1px;
}

#u12572:hover #u12572_states
{
	background: url("../images/u12572_states-r.png") no-repeat 0px 1px;
}

#u12572:active #u12572_states
{
	background: url("../images/u12572_states-m.png") no-repeat 0px 0px;
}

#u12577
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12573
{
	background-color: #FFFFFF;
	position: relative;
}

#u12576-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

