#u12740:active
{
	background: url("../images/u12740-m.png") no-repeat 0px 0px;
}

#u12733:active #u12733_states
{
	background: url("../images/u12733_states-m.png") no-repeat 0px 0px;
}

#u12737
{
	background: -webkit-gradient(linear, left center, right center, from(#D5D5D5),color-stop(86%, #C4C4C4));
	background: -webkit-linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	background: linear-gradient(to right,#D5D5D5 ,#C4C4C4 86%);
	-pie-background: linear-gradient(left,#D5D5D5 ,#C4C4C4 86%);
	border-style: none;
	border-color: transparent;
	background-size: 100% auto;
}

#u12741-4
{
	display: block;
	vertical-align: top;
	position: fixed;
}

#u12736-3
{
	background-color: transparent;
	position: relative;
}

#u12740
{
	vertical-align: top;
	position: fixed;
	background: url("../images/u12740.png") no-repeat 0px 0px;
}

#u12733_states
{
	vertical-align: top;
	background: url("../images/u12733_states.png") no-repeat 0px 0px;
}

#u12733,#u12734
{
	position: fixed;
}

#u12734_states
{
	vertical-align: top;
	background: url("../images/u12734_states.png") no-repeat 0px 1px;
}

#u12734:hover #u12734_states
{
	background: url("../images/u12734_states-r.png") no-repeat 0px 1px;
}

#u12734:active #u12734_states
{
	background: url("../images/u12734_states-m.png") no-repeat 0px 0px;
}

#u12739
{
	background-color: #000000;
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
}

#u12735
{
	background-color: #FFFFFF;
	position: relative;
}

#u12738-4
{
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	color: #FFFFFF;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

